h3 {
	background-color: rgb(187, 61, 255);
	color: hsl(222, 87%, 56%);
	padding: 40px;
	text-align: center;
}

p {
	color: #228000;
}

img {
 max-width: 50%;
 max-height: 50%;
padding: 40px
}

div {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
	background: linear-gradient(-45deg, #53baee, #e79940, #d7239e, #4a23d7);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}